<<<<<<< HEAD
.pagination-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
=======
.pagination-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
>>>>>>> acdcc3f23962c7027ca2210d4f21ccebb9ba735b
}